.robot-container {
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  margin-top: 60px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.robot-face-shape {
  height: 500px;
  width: 600px;
  margin-left: 88.82px;
  border-radius: 10%;
  border: 20px solid purple;
}

@keyframes eye-left {
  from {
    height: 100px;
    width: 150px;
    transform: rotate(0deg);
  }

  to {
    height: 1px;
    width: 2px;
    margin: 50px;
    transform: rotate(360deg);
  }
}

.robot-eye-left {
  position: relative;
  top: 50px;
  left: 50px;
  height: 100px;
  width: 150px;
  background-image: url(https://picsum.photos/id/29/150/100);
  border-radius: 50%;
  animation: eye-left 2s alternate infinite;
}

@keyframes gradient {
  0% {
    background: linear-gradient(purple, pink, blue);
  }

  50% {
    background: linear-gradient(pink, blue, purple);
  }

  75% {
    background: linear-gradient(blue, purple, pink);
  }

  100% {
    background: linear-gradient(purple, pink, blue);
  }
}

@keyframes bounce {
  from {
    top: -50px;
  }

  to {
    top: -70px;
  }
}

.robot-eye-right {
  position: relative;
  left: 350px;
  top: -50px;
  --r: 20px; /* control the radius */

  height: 100px;
  aspect-ratio: 1.5;
  padding: var(--r);
  background: linear-gradient(purple, pink, blue);
  mask: radial-gradient(50% 50%, #0000 66%, #000 67%) round var(--r) var(--r) /
      calc(2 * var(--r)) calc(2 * var(--r)),
    conic-gradient(#000 0 0) content-box;
  animation: gradient 1s infinite alternate,
    bounce 300ms infinite alternate ease;
}

@keyframes move {
  0% {
    top: 100px;
    right: 650px;
  }
  20% {
    top: 350px;
    height: 50px;
  }

  40% {
    right: 700px;
  }

  60% {
    right: 700px;
    top: 100px;
    height: 300px;
  }

  80% {
    height: 50px;
  }

  100% {
    right: 650px;
  }
}

.robot-ear-left {
  position: relative;
  top: 100px;
  right: 650px;
  height: 300px;
  width: 0.7em;
  background-color: blueviolet;
  animation: move 4s infinite, disappear 2ms infinite;
}

@keyframes rotate {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.robot-ear-right {
  position: relative;
  top: 100px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid hotpink;
  border-bottom: 50px solid transparent;
  animation: rotate 70ms 2s infinite;
}

@keyframes nose {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(10);
    display: none;
  }
}

.robot-nose:hover {
  animation: nose 3s 1 forwards;
}

.robot-nose {
  position: relative;
  left: 240px;
  height: 12%;
  width: 10%;
  border-radius: 50%;
  background: linear-gradient(to right, #fc5c7d, #6a82fb);
}

@keyframes invert {
  0% {
    transform: rotate(0deg);
  }

  .1% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  50.1% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.robot-teeth {
  position: relative;
  top: 35px;
  margin-left: 5px;
  --s: 44px; /* size of the wave */
  --b: 16px; /* thickness of the line */
  --m: 0.4; /* curvature of the wave [0 2] */

  background: #008c9e;
  --R: calc(var(--s) * sqrt(var(--m) * var(--m) + 1) + var(--b) / 2);
  height: calc(2 * var(--R));
  width: 98%;
  --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  mask: radial-gradient(
        var(--R) at left 50% bottom calc(-1 * var(--m) * var(--s)),
        var(--_g)
      )
      calc(50% - 2 * var(--s)) calc(50% - var(--s) / 2 - var(--b) / 2) /
      calc(4 * var(--s)) calc(var(--s) + var(--b)) repeat-x,
    radial-gradient(
        var(--R) at left 50% top calc(-1 * var(--m) * var(--s)),
        var(--_g)
      )
      50% calc(50% + var(--s) / 2 + var(--b) / 2) / calc(4 * var(--s))
      calc(var(--s) + var(--b)) repeat-x;

  animation: invert 3s 2s infinite, rotate 65ms 40s infinite;
}

@keyframes tooth {
  from {
    scale: 1;
  }

  to {
    scale: 2;
  }
}

.robot-tooth {
  position: relative;
  top: 2.5px;
  left: 100px;
  height: 30px;
  width: 25px;
  background: #f1bb0885;
  mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;
  animation: tooth 1s;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  50% {
    background-color: purple;
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.robot-hair-style {
  position: relative;
  right: 430px;
  bottom: 23px;
  height: 20px;
  width: 20px;
  background-color: palevioletred;
  animation: disappear 1s 2s 6;
}

@keyframes hair-two {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes hair-one {
  from {
    transform: rotate(30deg);
  }

  to {
    transform: rotate(50deg);
  }
}

@keyframes hair-three {
  from {
    transform: rotate(330deg);
  }

  to {
    transform: rotate(310deg);
  }
}

@keyframes hair-four {
  from {
    transform: rotate(15deg);
  }

  to {
    transform: rotate(35deg);
  }
}

@keyframes hair-five {
  from {
    transform: rotate(345deg);
  }

  to {
    transform: rotate(315deg);
  }
}

.robot-hair-one {
  position: relative;
  left: 28px;
  top: -48px;
  height: 50px;
  width: 4px;
  background-color: brown;
  animation: hair-one 0.5s infinite alternate;
}

.robot-hair-two {
  position: relative;
  left: 9px;
  top: -100px;
  height: 50px;
  width: 4px;
  background-color: brown;
  animation: hair-two 0.5s infinite alternate;
}

.robot-hair-three {
  position: relative;
  left: -11px;
  top: -148px;
  height: 50px;
  width: 4px;
  background-color: brown;
  animation: hair-three 0.5s infinite alternate;
}

.robot-hair-four {
  position: relative;
  left: 16px;
  top: -200px;
  height: 50px;
  width: 4px;
  background-color: brown;
  animation: hair-four 0.5s infinite alternate;
}

.robot-hair-five {
  position: relative;
  top: -250px;
  height: 50px;
  width: 4px;
  background-color: brown;
  animation: hair-five 0.5s infinite alternate;
}
